<div id="logo" class="contianer-fluid">
      <img src="../../static/images/tempLogo341_transparent.png" alt="Logo" class="img-responsive" width="300" height="120">
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="pull-left" href="home.html"><img id="nav-logo" src="NullPointer.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home.html">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#registration-modal" data-toggle="modal" data-target="#registration-modal"><span class="glyphicon glyphicon-user"></span> Register</a></li>
      <li><a href="#login-modal" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
  </div>
</nav>

<div class="modal fade" id="registration-modal" role="dialog">
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <iframe src= "registration.html"></iframe>
      </div>
    </div>
</div>

<div class="modal fade" id="login-modal" role="dialog">
   <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <iframe src= "login.html"></iframe>
    </div>
  </div>
</div>