{% extends "base.html" %}
{% block title %}
Welcome
{% endblock %}  
{% block head %}
  <link rel="stylesheet" type="text/css" href="../static/css/studenthomeStyle.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}  
{{ super() }}
{% block content %}

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-10">
        <h2>Now displaying the ____ semester</h2>
      </div>
      <div class="col-sm-offset-11">
        <button class="btn btn-default" type="button">Log Out</button>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 courseListContainer">
        <div class="row">
          <div class="headers">
            <div class="col-xs-4 text-center"> 
              <button class="btn btn-default">Add Course</button>
            </div>
            <div class="col-xs-4 text-center"> 
              <h6>Course List</h6>
            </div>
            <div class="col-xs-4 text-center"> 
              <button class="btn btn-default">Delete Course(s)</button>
            </div>
          </div>
          <div class="col-sm-12 courseList">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Section</th>
                  <th>Time</th>
                  <th>Selection</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Random class</td>
                  <td>Random section</td>
                  <td>Random Time</td>
                  <td><input type="checkbox" value="class1"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row headers">
          <div class="text-center"> 
            <h6>Add Course</h6>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
              <td>8:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>9:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>10:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>11:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>12:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>13:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>14:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>15:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> 
            <tr>
              <td>16:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr> 
            <tr>
              <td>17:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>   
            <tr>
              <td>18:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>  
            <tr>
              <td>19:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>     
            <tr>
              <td>20:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>  
            <tr>
              <td>21:00</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>    

          </tbody> 
        </table>
      </div>
      </div>
    </div>
  </div>
{% endblock %}