{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="../../static/css/loginStyle.css">
<script type="text/javascript" src="login.js"></script>
<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% endblock %}
{{ super() }}
{% from "auth/_formhelpers.html" import render_field %}

{% block content %}
<div class="text-center" style="padding:50px 0">
    <div class="logo">Null Pointer</div>
	<div class="login-form-1">
		<form id="login-form" class="text-left" method="POST" role="form">
			{{ form.csrf_token }}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					{% with messages = get_flashed_messages() %}
  					{% if messages %}
    					<ul class="form-control">
    						{% for message in messages %}
      						<li>{{ message }}</li>
    						{% endfor %}
    					</ul>
  					{% endif %}
					{% endwith %}
                    <div class="form-group">
						<div class="form-control">{{ render_field(form.username) }}</div>
					</div>
					<div class="form-group">
						<div class="form-control">{{ render_field(form.password) }}</div>
					</div>
                    <!-- Remember Me -->
					<div class="form-group">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember"> Remember Me</label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>New student? <a class="formLink" href="{{ url_for('auth.register') }}">Create new account</a></p>
			</div>
		</form>
	</div>
</div>
{% endblock %}


