<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript" src="login.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Login -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Null Pointer</div>
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
                    <!-- User -->
					<div class="form-group">
						<input type="text" class="form-control" placeholder="username">
					</div>
                    <!-- Password -->
					<div class="form-group">
						<input type="password" class="form-control" placeholder="password">
					</div>
                    <!-- Remember Me -->
					<div class="form-group">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember"> Remember Me</label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>New student? <a href="#">Create new account</a></p>
			</div>
		</form>
	</div>
</div>
</html>