{% extends "base.html" %}

{% block content %}
Greetings {{ session['user_name'] }}, 

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h3 class="text-center">Completed</h3>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <ul class="list-group" id='completedCourses'>
              </ul>
            </div>
            <button id="uncomplete_course">Revoke Completion</button>
        </div>
        <div class="col-xs-4">
            <h3 class="text-center">In Progress</h3>
            <div class="well" style="max-height: 300px;overflow: auto;">
	             <ul class="list-group" id='registeredCourses'>
              </ul>
            </div>
            <button id="complete_course">Complete Course</button>
        </div>
	<div class="col-xs-4">
          <h3 class="text-center">To Take</h3>
          <div class="well" style="max-height: 300px;overflow: auto;">
	           <ul class="list-group">
              <li class="list-group-item" data-color="success">A</li>
            </ul>
          </div>
        </div>
    </div>
</div>
{% endblock %}
