Flask==0.10.1
Flask-RESTful==0.3.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.1.3
SQLAlchemy==1.0.12
Tempita==0.5.2
WTForms==2.1
Werkzeug==0.11.4
aniso8601==1.1.0
argparse==1.2.1
cricket==0.2.4
decorator==4.0.9
itsdangerous==0.24
pbr==1.8.1
python-dateutil==2.5.1
pytz==2016.2
six==1.10.0
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
tkreadonly==0.6.0
wheel==0.29.0
wsgiref==0.1.2
