body{
	margin: 0;
	padding: 0;
	font-family: 'Open-Sans';
}
.navbar-default{
	background: linear-gradient(white,#efefef);
	border: 0px;
	border-radius: 0px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: inherit;
}
.navlink{
}
#logo{
	background: linear-gradient(#7FB9FF, white);
}

#nav-logo{
  max-width:80px;
  margin-right:10px;
}

#homeLink{
	width:85px;
}

#active{
	background-image: url("../images/arrow.png");
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: right top;
}

