body{
	margin: 0;
	padding: 0;
}
.navbar-default{
	background: linear-gradient(white,#efefef);
	border: 0px;
	border-radius: 0px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: inherit;
}
/*.navbar-brand{
	border-style: solid;
	border-width: 1px;
	border-color:transparent;
	border-right-color: black;

	
}*/

#logo{
	background: linear-gradient(#7FB9FF, white);
}

#copyright{
	text-align: center;
}