body{
    background-color: rgb(230,230,230);  
}
header,nav,#info,#schedule{
    max-width: 1000px;    
}
#info,#schedule{
    background-color: white;
    border: rgb(229,229,229) solid 1px;
}
header{
    text-align: center;
    margin: 0px auto;
}
nav{
    background-color: rgb(205,205,205);
    margin: 0px auto;
    text-align: right;
}
.login{
    width:60px;
}
form{
    display:inline;
}
h1{
    font-family: Verdana;
    font-weight:400; 
    text-align: center;
}
#info{
    height: 130px;
    margin: 40px auto;
    background-clip: content-box;
    text-align: center;
}
#schedule{
    min-height: 800px;
    margin: 40px auto;
    background-clip: content-box;
    text-align: center;
}
input[type='button'].semesterButton{
  border-radius: 6px;
  border-width: 0px;
  font-family: Verdana;
  color: white;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
input[type='button'].semesterButton:hover{
  background: #1283c4;
  text-decoration: none;
}
input[type='button'].semesterButton:active{
  background: #0f75ab;
  text-decoration: none;
}