<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}- Null Pointer
    </title>
	<link rel="stylesheet" type="text/css" href="../../static/css/calendarStyle.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/profileStyle.css">
	<link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/base.css">
	<link rel="stylesheet" type="text/css" href="../static/font-awesome-4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans' >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/js/app.js"></script>
	<script src="../static/js/htmlmodule.js"></script>
	<script src="../static/js/profile.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	{% block head %}
    {% endblock %}

</head>
	<body>
		{% block header %}
		{% endblock %}
		<div id="logo" class="container-fluid">
		      <img src="../../static/images/tempLogo341_transparent.png" alt="Logo" class="img-responsive" width="300" height="120">
		</div>
		<nav class="navbar navbar-default">{% block fullNavbar %}
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="pull-left" href="{{ url_for('auth.home') }}"><img id="nav-logo" src="../../static/images/NullPointer-noarrow.png"></a>
		    </div>
		    {% set active_page = active_page|default("home") -%}
		    <ul class="nav navbar-nav">
		    	<li>
		      		<a {% if active_page == "home" %} id="active" {% endif %} 
		      		class="navlink" 
		      		{% if active_page != "home" %} onmouseover="hoverInLogo(this)" onmouseleave="hoverOutLogo(this)" {% endif %} 
		      		href="{{ url_for('auth.home') }}">Home</a>
		    	</li>
				<li>
					<a {% if active_page == "fall" or active_page == "change_fall" %} id="active" {% endif %} 
					class="navlink" 
					{% if active_page != "fall" and active_page != "change_fall"%} onmouseover="hoverInLogo(this)" onmouseleave="hoverOutLogo(this)" {% endif %} 
					href="{{ url_for('auth.fall') }}">Fall</a>
				</li>
				<li>
					<a {% if active_page == "winter" or active_page == "change_winter" %} id="active" {% endif %} 
					class="navlink" 
					{% if active_page != "winter" and active_page != "change_winter"%} onmouseover="hoverInLogo(this)" onmouseleave="hoverOutLogo(this)" {% endif %} 
					href="{{ url_for('auth.winter') }}">Winter</a>
				</li>
				<li>
					<a {% if active_page == "summer" or active_page == "change_summer" %} id="active" {% endif %} 
					class="navlink" 
					{% if active_page != "summer" and active_page != "change_summer"%} onmouseover="hoverInLogo(this)" onmouseleave="hoverOutLogo(this)" {% endif %} 
					href="{{ url_for('auth.summer') }}">Summer</a>
				</li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		    	<li>
				{% if session['logged_in'] %}
					<a class="navlink" href="{{ url_for('auth.logout') }}">Log out</a>
				{% endif %}
				</li>
			{% block navbarRight %}{% endblock %}
			</ul>
		  </div>{% endblock %}
		</nav>

		<div class="modal fade" id="registration-modal" role="dialog">
		     <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		      </div>
		      <div class="modal-body">
		        
		      </div>
		    </div>
		</div>

		<div class="modal fade" id="login-modal" role="dialog">
		   <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		    </div>
		    <div class="modal-body">
		      
		    </div>
		  </div>
		</div>
	    {% block content %}	
	    {% endblock %}
			<div class="text-center">
				<p>© 2016 NULL POINTER. ALL RIGHTS RESERVED</p>
			</div>
		{% block footer %}
		{% endblock %}

	</body>
</html>
