<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>
        {% block title %}{% endblock %} - Null Pointer
    </title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="../static/css/loginStyle.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    {% block content %}
    {% endblock %}
    <div id="footer">
    </div>
</body>
</html>