<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/jquery-1.12.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% if page == "home" %}
	    <title>Home Page</title>
    {% elif page == "login" %}
        <title>Login</title>
    {% elif page == "schedule" %}
        <title>Schedule</title>
    {% endif %}
</head>
<body>
<a href="/home">Home</a><br>
<a href="/login">Login</a><br>
<a href="/schedule">Schedule</a>
{% block login %}{% endblock %}
{% block schedule %}{% endblock %}
</body>
</html>
