<!DOCTYPE html>
<html>
<head>
	<meta charset= "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/jquery-1.12.0.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    {% if page == "home" %}
	    <title>Home Page</title>
    {% elif page == "login" %}
        <title>Login</title>
    {% elif page == "schedule" %}
        <title>Schedule</title>
    {% endif %}
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       </button>
       <a style="color:#0099FF" class="navbar-brand" href="\home">Home</a>
      </div>

  		<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			 </button>
			 <a style="color:#0099FF" class="navbar-brand" href="\login">Login</a>
			</div>

			<div class="navbar-header">
			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			 </button>
			 <a style="color:#0099FF" class="navbar-brand" href="\schedule">Schedule</a>
			</div>
		</div>
	</nav>
{% block login %}{% endblock %}
{% block schedule %}{% endblock %}
</body>
</html>
