{% extends "base.html" %}

{% block head %}
<script src="../static/js/home.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/css/studenthomeStyle.css">
{% endblock %}  
{{ super() }}
{% block content %}

<div class="container schedule">
  <div class="row">
    <div class="col-sm-10">
      <h2>{% block semester %}{% endblock %} Semester</h2>
    </div>
    <!--       <div class="col-sm-offset-11">
               <button class="btn btn-default" type="button">Log Out</button>
    </div> -->
  </div>

  <div class="row">
    <!-- Left Hand Side : Controls + Course List  -->
    <div class="col-sm-6 courseListContainer">
      <div class="row">

	<!-- Header -->
        <div class="headers">
	  <!-- Add Course Button -->
          <div class="col-xs-6 text-center">
            <a href="{{ url_for('auth.changeCalendar') }}">
              <button type="button" class="btn btn-default">Add Course</button>
            </a>
          </div>
	  <!-- Delete Course Button -->
          <div class="col-xs-6 text-center"> 
            <button type="button" class="btn btn-default">Delete Course(s)</button>
          </div>
        </div>
	<!-- End of Header -->

	<!-- Course List -->
        <div class="col-sm-12 courseList">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Section</th>
                <th>Time</th>
                <th>Selection</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Random class</td>
                <td>Random section</td>
                <td>Random Time</td>
                <td><input type="checkbox" value="class1"></td>
              </tr>
            </tbody>
          </table>
        </div>
	<!-- End of Course List -->
      </div>
    </div>

    <!-- Right Hand Side : Calendar Schedule  -->
    <div class="col-sm-6">
      <div class="row headers">
      </div>
      <table class="table table-striped" id="homeCalendar">
        
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}
